h5 Alta de nuevos clientes

input(
id='name'
class='form-control'
type='text'
placeholder='Nombre'
)

input(
id='lastname'
class='form-control'
type='text'
placeholder='Apellido'
)

span
    button(
    class='btn btn-danger'
    id='back'
    ) Volver sin guardar

    button(
    class='btn btn-success'
    id='save'
    ) Guardar y salir

script.
    $('#back').click(function () {
        $.get("/", function (data) {
            $('#container').html(data)
        })
    })

    $('#save').click(function () {
        alert('guardado')
    })